//babel配置文件，不需要做修改，因为都配置好了
{
  "presets": [
    ["env", {"modules": false}],
    "react",
    "stage-0"
  ],
  "plugins": [

    "react-hot-loader/babel",
    
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    // ['import', {libraryName: 'antd', style:true}],
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-do-expressions",
    "syntax-do-expressions",
    ["babel-plugin-react-transform", {
           transforms: [
             {
               transform: 'react-transform-catch-errors',
               imports: ['react','redbox-react','redBoxBlackStyle']
             }
           ],
    }]
  ]
}