/*Normalize.css 只是一个很小的CSS文件，但它在默认的HTML元素样式上提供了跨浏览器的高度一致性*/
@import '~normalize.css/normalize.css';
@import "~github-markdown-css/github-markdown.css";

@font-face {font-family: "iconfont";
  src: url('iconfont/iconfont.eot'); /* IE9*/
  src: url('iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

body,h2,p,ul,li{
    margin:0;
    padding:0;
}
ul{
	padding-left:0;
}
li{
	list-style-type: none;
}
a:hover,a:link,a:visited,a:active{
	text-decoration: none;
}

.fade-in{
	animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}


/* .move-appear {
  transform: scale(0.5);
  background: grey;
}

.move-appear.move-appear-active {
  transform: scale(1);
  background: grey;
  transition: 60s;
} */

.move-enter {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: white;
  top: 0;
  left: 100%;
  
}

.move-enter.move-enter-active {
  left: 0%;
  transition: 0.5s;
}

.move-exit {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: white;
  top: 0;
  left: 0;
}

.move-exit.move-exit-active {
  opacity: 0.5;
  left: -50%;
  transition: 0.5s;
}

.left-enter {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
  
}

.left-enter.left-enter-active {
  left: 0;

}

.left-exit {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
}

.left-exit.left-exit-active {
  left: 100%;
  transition: 0.5s;
}



.up-enter {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: white;
  top: 100%;
  left: 0;
  
}

.up-enter.up-enter-active {
  top: 0;
  transition: 0.5s;
}

.up-exit {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
  
}

.up-exit.up-exit-active {

}